.title{
    border: 10px solid rgba(112, 0, 177, 0.658);
    padding-top: 10 px;
    padding-left: 20 px;
    justify-content: center;
 //   justify-content: space-around;
    display: flex;
  //  align-items: center;
}

.sub-title{
    border: 3px solid red;
    justify-content: center;
    display: flex;   
}

.intro {
 background-color: green;
}

#user1{
    font-size: 30px;
}

// ul li:first-child{
//     background-color: blue;
// } 

ul{
    height:  40px;
    list-style-type: none;
    justify-content: center;
    justify-content: space-around;
    //justify-content: space-between;
    
    border: 3px solid green;
    margin: o;
    padding: 0;
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;
    //flex-direction: column-reverse;
   flex-direction: row;
   //flex-direction: column;
   flex-wrap: wrap;
}

li{
    border: 1px red;
}

.One-container {
    flex-basis: 15%;
    background-color: violet;
}
.Two-container {
    flex-basis: 10%;
    background-color: pink;
}
.Three-container {
    flex-basis: 15%;
    background-color: lightblue;
}
.Four-container {
    flex-basis: 15%;
    background-color: yellow;
}
.Five-container {
    flex-basis: 10%;
    background-color: lime;
}
.Six-container {
    flex-basis: 10%;
    background-color: green;
}
.Seven-container {
    flex-basis: 10%;
    background-color: red;
}

.Eight-container {
    flex-basis: 10%;
    background-color: violet;
}

@media (max-width: 600px){
    p {
        background-color: darkviolet;
    }
}

.app-container{
    background-color: red;
}
