Hello {{title}}

<h1 class="title">This is your page title </h1>

<h2 class="sub-title">This is your title with h2 tag</h2>

<h6 class="subtitle">This is your subtitle</h6>
<p class="intro">McCarthy and Trump met on <b>Thursday</b> and <i>discussed</i> the latter's <sub>continued</sub> support for <sup>Republicans</sup> as they look to flip the Senate and House next year.

  McCarthy said in a statement following the meeting: "A united conservative movement will strengthen the bonds of our citizens and uphold the freedoms our country was founded on."</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui a ea iusto tenetur maiores iure et, esse cupiditate perferendis inventore soluta, explicabo ipsam deleniti harum neque quis magnam rerum. Fugit.</p>

  <blockquote>Republicans as they look to flip the Senate and House next year.</blockquote>


  <div>
    This is an example of div
  </div>

  <a href="https://facebook.com">Go to Google</a>

  <section>
  <article>
    <h3>This is the header of this article</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero porro asperiores, soluta architecto pariatur voluptatum, ducimus repellendus optio quas eius quia dolore eligendi fugit, rerum harum laborum praesentium! Corporis!</p>
    <blockquote>Republicans as they look to flip the Senate and House next year.</blockquote>
  </article>

  <article>
    <h3>This is the header of this article</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, laboriosam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero porro asperiores, soluta architecto pariatur voluptatum, ducimus repellendus optio quas eius quia dolore eligendi fugit, rerum harum laborum praesentium! Corporis!</p>
    <blockquote>Republicans as they look to flip the Senate and House next year.</blockquote>
  </article>
</section>

<ul>
  <li>Item5</li>
  <li>Item2</li>
  <li>Item4</li>
  <li>Item3</li>
  <li>Item1</li>
</ul>

<ol>
  <li>Item5</li>
  <li>Item2</li>
  <li>Item4</li>
  <li>Item3</li>
  <li>Item1</li>
</ol>

<section>
  <footer>
    <a href="https://google.com"> Go to the Home Page</a>
    <a href="tel:+516-345-7765"> (415) 666-6363</a>
  </footer>
</section>