<nav class="topnav-container">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">ProductLists</a>
    <a routerLink="/signin" routerLinkActive="active">SignIn</a>
    <a routerLink="/signup" routerLinkActive="active">SignUp</a>
    <a routerLink="/members" routerLinkActive="active">MembersOnly</a>
    <a routerLink="/numbers" routerLinkActive="active">Numbers</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>
